.hero-image {
    background-image: url("./Images/Background\ Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 490px;
    width: 100%;
}

img {
    width: 75%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.hero-text {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    margin-top: 200px;
    width: 100%;
    font-size: 5rem;
}

.two-column { 
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 50px;
    width: 80%;
    margin: auto;
}

.info-text {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 100%;
    font-size: 1.5em;
}

