.hero-image { /*Hero Image*/
    background-image: url("./Images/Hero\ Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 490px;
    width: 100%;
}

.hero-text {
    color: whitesmoke;
    text-align: center;
    position: absolute;
    margin-top: 200px;
    width: 100%;
    font-size: 5rem;
    text-decoration: underline;
}

.two-column { /*Two Column Layout*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
    width: 95%;
    margin: auto;
    margin-top: 40px;
}

.info {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.mount-cook-info {
    font-size: 0.9em;
}

img {
    width: 100%;
    transition: width 1s; /*Image zoom in animation*/
}

img:hover {
    width: 102.5%; /*Image zoom in size*/
}

.milford-sound-image {
    margin-top: 20px; /*Giving the milford sound image space from the mount cook info*/
}

.sky-tower-img {
    width: 82.95%; /*Resized the sky tower image to make it fit*/
    margin-left: auto; /*Centering sky tower image*/
    margin-right: auto;
}

.wai-o-tapu-image {
    margin-top: 25px; /*Giving the wai-o-tapu image space from the milford sound info*/
}

/*End of Code*/